.nav {
	width: 7.92308rem;
	height: 100vh;
	background-color: var(--nav-bg);
	border-radius: 0rem 1.53846rem 1.53846rem 0rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	z-index: 100;
}

.logo {
	width: 7.92308rem;
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	border-radius: 0 1.53846rem 1.53846rem 0;
	overflow: hidden;
}

.logo img {
	width: 3.2rem;
}

.logo::after {
	content: '';
	position: absolute;
	background-color: var(--01);
	height: 100%;
	width: 100%;
	z-index: -1;
	top: 0;
	z-index: -2;
}

.logo::before {
	content: '';
	position: absolute;
	background-color: var(--02);
	height: 50%;
	width: 100%;
	z-index: -1;
	bottom: 0;
	border-radius: 1.53846rem 0 0 0rem;
}

.iconRoutes li {
	transition: 150ms ease-in;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.iconRoutes .normalRoute {
	font-size: 1rem;
	padding: 20px;
	color: var(--text-2);
}

.iconRoutes li:hover,
.selected {
	padding: 10px;
	font-size: 1.15rem;
	color: var(--primary);
}

.wrapper {
	display: flex;
	flex-direction: column;
}

.wrapper>.imgContainer {
	aspect-ratio: 1 / 1;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px #494e6e solid;
	width: 100%;
}

.wrapper>.imgContainer img {
	width: 3rem;
	border-radius: 50%;
}

.wrapper>.darkmodeToggle {
	width: 100%;
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper>.darkmodeToggle img {
	cursor: pointer;
}

@media screen and (max-width: 767px) {
	.nav {
		width: 100vw;
		height: 6.15385rem;
		border-radius: 0;
		overflow: visible;
		flex-direction: row;
		justify-content: space-between;
	}

	.logo {
		width: 6.15385rem;
	}

	.logo img {
		width: 2.38rem;
	}

	.wrapper {
		flex-direction: row;
		height: 100%;
	}

	.wrapper>.imgContainer {
		border-top: 0;
		border-left: 1px #494e6e solid;
	}

	.iconRoutes {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 2rem;
	}

	.iconRoutes li {
		width: 4rem;
	}

	.iconRoutes .normalRoute {
		color: var(--text-2);
		padding: 0px;
	}

	.iconRoutes li:hover,
	.selected {
		padding: 0px;
		color: var(--primary);
	}

	.wrapper>.darkmodeToggle {
		display: none;
	}

}

@media print {
	.nav {
		display: none !important;
	}
}